<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="../../css/commodity.css">
<!--    <style type="text/css">-->
<!--        body {-->
<!--            border-style:none;-->
<!--        }-->

<!--        .header {-->
<!--            position: absolute;-->
<!--            height: 100px;-->
<!--            width: 120%;-->
<!--            margin-left: -20px;-->
<!--            margin-top: -20px;-->
<!--            background: black;-->
<!--        }-->

<!--        #main {-->
<!--            margin-top: 150px;-->
<!--            margin-left: 100px;-->
<!--            margin-right: 100px;-->
<!--            position: absolute;-->
<!--            /*border: black solid;*/-->
<!--        }-->

<!--        .left {-->
<!--            position: absolute;-->
<!--            width: 650px;-->
<!--            background: #9B410E;-->
<!--        }-->

<!--        .right {-->
<!--            position: absolute;-->
<!--            margin-left: 700px;-->
<!--            width: 1000px;-->
<!--            border: #9B410E solid;-->
<!--            height: 500px;-->
<!--        }-->

<!--        .img {-->
<!--            width: 650px;-->
<!--            height: 500px;-->
<!--        }-->
<!--        .ps {-->

<!--            margin-top: 20px;-->
<!--            width: 1000px;-->
<!--        }-->
<!--        .price{-->
<!--            width: 700px;-->
<!--            position: relative;-->
<!--            float: left;-->
<!--        }-->
<!--        .sales{-->
<!--            margin-top: 40px;-->
<!--            width: 300px;-->
<!--            position: relative;-->
<!--            float: right;-->
<!--        }-->
<!--        .buy{-->
<!--            margin-top: 150px;-->
<!--        }-->

<!--        input[type=submit] {-->
<!--            width: 200px;-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            padding: 14px 20px;-->
<!--            margin: 8px 0;-->
<!--            border: none;-->
<!--            border-radius: 4px;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        input[type=text] {-->
<!--            align: center;-->
<!--            width: 30px;-->
<!--            background-color: silver;-->
<!--            color: white;-->
<!--            padding: 14px 20px;-->
<!--            margin: 8px 0;-->
<!--            border: none;-->
<!--            border-radius: 4px;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        .zekou {-->
<!--            font:30px '微软雅黑';-->
<!--            color: red;-->
<!--        }-->

<!--        .shichang {-->
<!--            font:20px '华文细黑';-->
<!--            color:silver;-->
<!--            text-decoration: line-through;-->
<!--        }-->

<!--        #xiangqing{-->
<!--            font: 20px '微软雅黑 Light';-->
<!--            color: red;-->
<!--        }-->

<!--        #xiaoliang{-->
<!--            font: 15px '微软雅黑 Light';-->
<!--            color: red;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div class="header" >

</div>
<div id="main" >
    <div class="left">
        <a href="#"><img src="../../images/zuoweixianshiqi.jpg" alt="加载中..." class="img"></a>
    </div>
    <div class="right">
        <h1>显示器</h1>
        <span id="xiangqing">{$xiangqing}</span>
        <br>
        <br>
        <span>{$pingpai}</span>
        <br>
        <div class="ps">
            <div class="price">
                <span class="zekou">折扣价：</span>
                <br>
                <span class="zekou">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp￥{$zekoujia}</span>
                <br>
                <span class="shichang">市场价：</span>
                <span class="shichang">￥{$shichangjia}</span>
            </div>

            <div class="sales">
                <span id="xiaoliang">销量：{$xiaoliang}</span>
            </div>
        </div>

        <div class="buy">
            <form action="#">
                <span style="font: 20px '微软雅黑';">请输入购买数量：</span>
                <input type="text" name="shuliang" placeholder="1">
                <input type="submit" name="buy" value="加入购物车">
            </form>
        </div>
    </div>
</div>

</body>
</html>